<mat-form-field appearance="fill" [formGroup]="pingDates">
    <mat-label>Start datetime</mat-label>
    <input matInput 
        [ngxMatDatetimePicker]="fromDatePicker" 
        placeholder="Choose a date" 
        formControlName="fromDate"
        [value]="fromDate"
        (dateChange)="dateChange('ping')">
    <mat-datepicker-toggle matSuffix [for]="$any(fromDatePicker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #fromDatePicker>
    </ngx-mat-datetime-picker>
 </mat-form-field>
 <mat-form-field appearance="fill" [formGroup]="pingDates">
    <mat-label>End datetime</mat-label>
    <input matInput 
        [ngxMatDatetimePicker]="toDatePicker" 
        placeholder="Choose a date" 
        formControlName="toDate"
        [value]="toDate"
        (dateChange)="dateChange('ping')">
    <mat-datepicker-toggle matSuffix [for]="$any(toDatePicker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #toDatePicker>
    </ngx-mat-datetime-picker>
 </mat-form-field>
 <mat-error *ngIf="checkDateRange()">End date time must be after start datetime.</mat-error>
  
<ag-grid-angular 
    style="width: 75vw; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="pingData" 
    [columnDefs]="columnDefs">
</ag-grid-angular>
